@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Estilo para el contenido de la Pokedex */
ion-content{
  background: #dfd6ae;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ion-toolbar{
  --background: linear-gradient(to bottom, #ff0000, #ffffff);
}

ion-title{
  display: flex;
  text-align: center;
  color: #eeff00;
  font-family: 'Luckiest Guy', sans-serif; /* Usar la fuente Luckiest Guy */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  font-weight: 700; /* Aumentar el peso de la fuente para hacerla más negrita */
  letter-spacing: 1px; /* Ajustar el espaciado entre letras */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  text-shadow: 3px 3px 4px rgb(0, 204, 255); /* Agregar sombra de texto para mejorar la legibilidad */
}

.pokedex-background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 10%;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.firt {
  --background: rgb(150, 10, 10);
  border-radius: 10px;
  border: solid 3px #000;
  width: 30%;
  height: 400px;

}


.center-image {
  max-width: 100%;
  max-height: 100%;
}

ion-icon {
  font-size: 20px;
}

ion-searchbar {
  --color: white; 
  border: solid 3px #ffffff;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 5px;
}

.search-icon {
  margin-top: 10px; 
  color: #000; 
}

.label-busqueda {
  color: black; 
  font-size: 16px; 
  margin-bottom: 10px; 
  align-items: center;
}

.search-input-container {
  background-color: transparent;
  border: none;
}

.transparent-input {
  --ion-item-background: transparent;
  --highlight-height: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-bottom: 0;
  --inner-padding-top: 0;
  color: black !important; 
  text-align: center; 
}

.input-container {
  display: flex;
  align-items: center; 
}

.input-line {
  border-bottom: 1px solid black; 
  margin-top: 5px; 
}

.search-icon {
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
 
}




