<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pokedex-background"> 
  <div class="cont">
    <ion-card class="firt">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-card color="dark" text-color="light">
          <ion-card-content class="search-input-container">
            <ion-item lines="none" class="transparent-input">
              <ion-input type="number" placeholder="Pokemon Number" [(ngModel)]="searchPokemonID"></ion-input>
              <ion-button fill="clear" class="search-button" (click)="searchByPokemonID()">
                <ion-icon name="search-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <div class="input-line"></div>
          </ion-card-content>
        </ion-card>
        <br>
      </ion-row>
      <ion-card-header>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="button-container ion-text-center">
            <ion-card-subtitle class="ion-text-center">{{ cardTitle }}</ion-card-subtitle>
            <ion-card-subtitle class="ion-text-center"><a>tipo:</a>{{ pokemonTypes }}</ion-card-subtitle>
            <img *ngIf="pokemonImage" [src]="pokemonImage" alt="Pokemon Image" class="center-image">
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>